@model Filmes.Models.Filme

<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var Filme in ViewBag.Filmes)
    {
        <div class="custom-control custom-checkbox">
            <input type="checkbox"  name="FilmeIds" id="@Filme.FilmeId" value="@Filme.FilmeId" /> 
            <label for="@Filme.FilmeId">@Filme.Titulo</label>
        </div>
    }
    <br>
    <input type="submit" value="Remover Filme(s) Selecionados"  class="btn btn-danger"/>
</form>