@model Filmes.Models.Filme

<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var Filme in ViewBag.Filmes)
    {
        <input type="checkbox" name="FilmeIds" id="@Filme.FilmeId" value="@Filme.FilmeId" /> 
        <label for="@Filme.FilmeId">@Filme.Titulo</label>
        <br />
    }

    <input type="submit" value="Remove Selected Filme(s)" />
</form>